@font-face {
  font-family: "SEGA LOGO FONT";
  font-style: normal;
  font-weight: normal;
  src: local("SEGA LOGO FONT"), url("./SEGA.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(
    to left,
    rgb(7, 25, 73) 0%,
    rgb(98, 155, 155) 100%
  );
}

h1 {
  font-family: "SEGA LOGO FONT";
  font-weight: 500;
  color: #0ccac4;
}
